In [61]:
import pandas as pd
df = pd.read_parquet('job_title_dataset.parquet')
df.head(10)

,JobId,JobTitleId,JobTitle,Description
0,36126335,400878,Physical Therapist Assistant (PTA),<p>Looking for part-time PT&nbsp;for a quick g...
1,39345757,400720,Automotive Service Manager,"At David Maus Toyota, we strive to make every ..."
2,84331465,407973,Wastewater Project Manager,<p>Position Summary:</p>\n<p>Project Managemen...
3,88112060,402654,Neonatal Nurse,<p>Envision Physician Services is seeking a Ne...
4,88112450,402654,Neonatal Nurse,<p>Envision Physician Services is seeking a Ne...
5,88112460,402654,Neonatal Nurse,<p>Envision Physician Services is seeking a Ne...
6,88112463,402654,Neonatal Nurse,"<p>$20,000 start date bonus!</p><p>Envision Ph..."
7,88114236,402654,Neonatal Nurse,<p>Envision Physician Services is seeking a dy...
8,88114375,402654,Neonatal Nurse,<p>Envision Physician Services is seeking a Ne...
9,105364828,402654,Neonatal Nurse,<p>Night Shift Neonatal Nurse Practitioner Opp...

In [60]:
## An idea: do some feature engineering is the word verb, noun or so and some more features. Later use a Decision Tree to say if it is a job title.

In [17]:
df.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3975 entries, 0 to 3974
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   JobId            3975 non-null   object
 1   JobTitleId       3975 non-null   int32
 2   JobTitle         3975 non-null   object
 3   ExtJobTitleText  3975 non-null   object
 4   Description      2832 non-null   object
dtypes: int32(1), object(4)
memory usage: 139.9+ KB

In [23]:
df["Description"][0]

'<div class="earcu_posdescriptionContainer"><div class="earcu_posdescription"><div class="earcu_posdescriptionnote"><p><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><strong>DRIVER &ndash; DRIVE COOL CARS EVERY DAY</strong></span></p>\n<p>As a Driver, you will be transporting our rental vehicles to and from various locations safely. You will assist other Avis Budget Group associates in maintaining a smooth and safe traffic flow throughout rental check in area. In the role of Driver, you will be conducting the final inspection ensuring proper vehicle cleanliness, appearance and readiness meet company standards. Additionally, as a Driver you will be responsible for identifying and reporting any rental vehicle damage.</p>\n<p>Requirements of the Driver role:</p>\n<ul>\n<li>Must have a high school diploma or equivalent</li>\n<li>At least 6 months of prior work experience</li>\n<li>Valid driver\'s license and a good driving record</li>\n<li>Various shifts available</li>\n</ul>\n<p>We offer a wide range of exciting benefits for part time employees, including:</p>\n<ul>\n<li>Employee Assistance Program</li>\n<li>Employee discounts</li>\n<li>Training opportunities</li>\n<li>Opportunities to make charitable donations</li>\n<li>Voluntary unpaid time off</li>\n<li>Discounted prices on the purchase of Avis/Budget cars</li>\n<li>401(k) (eligible after 1,000 hours of service)</li>\n<li>Employee Stock Purchase Plan (eligible after 90 days of service)</li>\n<li>Vacation car rental</li>\n</ul>\n<p>A valid driver\'s license is required for all positions. Drug screening is a part of our hiring process.</p>\n<p><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><span style="font-family: arial,helvetica,sans-serif; font-size: 10pt;"><span style="color: #000000;"><em>To help expedite the application process and save you time, our application includes a Video Interview, which is a quick and simple recorded interview that will show our hiring managers how you would fit as a member of our team. On screen step-by-step instructions will guide you through the application and Video Interview process. To be considered for this role you must complete a recorded Video Interview.</em></span></span></span></p>\n<p><span style="font-family: arial,helvetica,sans-serif; font-size: x-small;"><em>Avis Budget is an EO employer &ndash; M/F/Vets/Disabled</em></span></p>\n<p><span style="font-family: arial,helvetica,sans-serif; font-size: x-small;">The information listed in this advertisement describes the general nature and level of this position only. Essential functions and responsibilities may change as business needs require. Your response to this ad may result in your being considered for employment with an affiliated company of Avis Budget Group, the publicly traded parent company of Avis Budget Car Rental, LLC and its subsidiaries.</span></p>\n<p><span style="font-family: arial,helvetica,sans-serif; font-size: x-small;">This advertisement does not constitute a promise or guarantee of employment.</span></p></div></div></div><br><span style="font-family: Calibri;"> Type of employment: Part Time'

In [19]:
df.shape

(3975, 5)

In [24]:
df.JobId.value_counts()

91657567     1
457418745    1
457418732    1
457418733    1
457418734    1
            ..
326104681    1
326104682    1
326473774    1
326473776    1
502948566    1
Name: JobId, Length: 3975, dtype: int64

In [26]:
df.JobTitleId.value_counts()

400445    1830
100051     313
411036     249
407333     229
402739     188
          ...
406323       1
402643       1
100335       1
581          1
573          1
Name: JobTitleId, Length: 110, dtype: int64

In [40]:
df.groupby('JobTitleId').Description.nunique().value_counts()

1     54
0     30
2     11
3      5
4      3
6      2
8      2
5      1
46     1
16     1
Name: Description, dtype: int64

In [57]:
import re

CLEANR = re.compile('<.*?>')

def cleanhtml(raw_html):
    cleantext = re.sub(CLEANR, '', raw_html)
    return cleantext

In [58]:
df.Description = df.Description.astype(str)
df['Cleaned_Description'] = df.Description.apply(cleanhtml)
df[['Cleaned_Description','Description']][:5]

,Cleaned_Description,Description
0,DRIVER &ndash; DRIVE COOL CARS EVERY DAY\nAs a...,"<div class=""earcu_posdescriptionContainer""><di..."
1,None,None
2,The Lane Construction Corporation is a leading...,<p><em>The Lane Construction Corporation is a ...
3,La Jolla Endoscopy Center is an ASC comprised ...,<p>La Jolla Endoscopy Center is an ASC compris...
4,PPG Sales Associate Job Posting PPG: We protec...,PPG Sales Associate Job Posting PPG: We protec...